{% extends 'base.html' %}
{% load static %}

{% block title %}
Entre na sua conta
{% endblock %}

{% block content %}

<br />
  <!-- Main Section -->
  <div class="container offset-4 col-md-4 card my-5 p-4"> 
    <h2 class="heading font-weight-light text-center">Faça login na sua conta</h2>
    <hr />
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="w-100 btn text-center text-light bg-success" value="Login">
    </form>
  </div>
  <!-- Main Section ends-->


{% endblock content %}


    
