{% load static %}
{% if contact.genero == 'homem' %}
      
<div class="card my-2 mx-2 boy-card my-4">
    <img src="
    {% if contact.imagem %}
    {{contact.imagem.url}}
    {% else %}
    {% static 'images/boy.png' %}
    {% endif %}
    " class="img-fluid" />
    <div class="card-header">
      <a href="{% url 'contactdetail' contact.id %}" class="text-white header-link"
        ><i class="fas fa-mars mr-2"></i> {{contact.nome}}
      </a>
    </div>
    <div class="card-body pb-0">
      <p>
        <i class="fas fa-envelope mr-2"></i>
        <a href="mailto:{{contact.email}}">{{contact.email}}</a>
      </p>
      <p>
        <i class="fas fa-phone mr-2"></i>
        <a href="tel:0{{contact.telefone}}">0{{contact.telefone}}</a>
      </p>
      <p><i class="fas fa-info-circle mr-2"></i> {{contact.categoria}} </p>
      
    </div>
  </div>
  <!-- Card for details ends -->
  {% else %}
  <div class="card my-2 mx-2 girl-card my-4">
    <img src="
    {% if contact.imagem %}
    {{contact.imagem.url}}
    {% else %}
    {% static 'images/girl.png' %}
    {% endif %}
    " class="img-fluid" />
    <div class="card-header">
      <a href="{% url 'contactdetail' contact.id %}" class="text-white header-link"
        ><i class="fas fa-venus mr-2"></i> {{contact.nome}}</a
      >
    </div>
    <div class="card-body pb-0">
      <p>
        <i class="fas fa-envelope mr-2"></i>
        <a href="{{contact.email}}">{{contact.email}}</a>
      </p>
      <p>
        <i class="fas fa-phone mr-2"></i>
        <a href="tel:0{{contact.telefone}}">0{{contact.telefone}}</a>
      </p>
      <p><i class="fas fa-info-circle mr-2"></i> {{contact.categoria}}</p>
    </div>
  </div>

{% endif %}